.footer{
  width:100%;
  // height: 200px;
  &__wrapper{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 10px;
  }
  &__social{
    width:100%;
    padding: 10px;
    display: flex;
    align-items:center;
    justify-content: center;
    gap:40px;
  }
  &__copy{
    text-align: center;
    padding: 10px;
    opacity: .6;
  }
}