.header{
  height: 80px;
  position: sticky;
  z-index: 9;
  background-color: #fff;
  top: 0;
  left:0;
  &__wrapper{
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding-left: 14px;
  }
  &__icon{
    width:200px;
  }
  &__navigation{
    width:100px;
  }
  &__menu{
     display: none;
  }
}
.burger{
  cursor: pointer;
  position: absolute;
  top:10px;
  right:14px;
  z-index: 10;
}