.header{
  height: 80px;
  position: sticky;
  z-index: 9;
  background-color: #fff;
  top: 0;
  left:0;
  &__wrapper{
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding-left: 14px;
  }
  &__icon{
    width:200px;
  }
  &__navigation{
    width:100px;
  }
  &__menu{
    position: absolute;
    top:0;
    right:0;
    z-index:10;
    width:100%;
    height: 100vh;
    background-color: rgba(239, 236, 236, .9);
    animation: burger-animation .8s;

    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    gap:14%;
    transition: right .9s ease 0s;
    &-link{
      font-size: 36px;
      font-weight: 700;
      letter-spacing: .03em;
      color:black;
      opacity: 1;
    }
  }
}
.burger{
  cursor: pointer;
  position: absolute;
  top:10px;
  right:14px;
  z-index: 30;
  &__open{
    right:0;
  }
  &__closing{
    right:-100%;
    display: none;
  }
}

.lock{
  overflow: hidden;
}

@keyframes burger-animation {
  from{opacity: 0} to{opacity: .8};
}
