@import "style-modules/normalize-plus.scss";
@import "style-modules/fonts.scss";


body{
  color: #21243D;
  font-style: normal;
  font-weight: 400;
  background-color:#fffcfc;
}
.content{
  &__wrapper{
    min-height: 90%;
    margin: 0 auto;
    @media screen and (min-width:700px){
      max-width: 1020px;
      padding-left: 30px;
      padding-right: 30px;
    }
    @media screen and (max-width: 699px){
      padding-left: 10px;
      padding-right:10px;
    }
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .main{
    flex: 1;
    width:100%;
    height: 100%;
  }
  .footer{
    height: 100px;
  }
}
// ! Desktop
@media screen and (min-width:860px) {
  @import "style-modules/header.scss";

  @import "style-modules/about-desctop.scss";
  @import "style-modules/works-desktop.scss";
  @import "style-modules/contacts-desctop.scss";

  @import "style-modules/contacts-page-desctop.scss";
  @import "style-modules/feedback-desktop.scss";
  @import "style-modules/messages-desktop.scss";

  @import "style-modules/footer-desktop.scss";
}

// ? Mobile
@media screen and (max-width:859px){
  @import "style-modules/header-mobile.scss";

  @import "style-modules/about-mobile.scss";
  @import "style-modules/works-mobile.scss";
  @import "style-modules/contacts-mobile.scss";
  @import "style-modules/messages-mobile.scss";

  @import "style-modules/contacts-page-mobile.scss";
  @import "style-modules/feedback-mobile";

  @import "style-modules/footer-mobile.scss";
}
.section__headline{
  font-size: 22px;
  line-height: 60px;
  opacity: .7;
}
.hide{
  display: none;
}
.active{
  display: block;
}